@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    --font-primaryTextColor: oklch(0.278 0.033 256.848);
    --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
    }
}

body {
    color: var(--font-primaryTextColor);
    font-family: var(--font-montserrat);
}
